NEXT_PUBLIC_SUPABASE_URL=https://fownudwjeugbnfuxvzch.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvd251ZHdqZXVnYm5mdXh2emNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4ODc1NzMsImV4cCI6MjA5MDQ2MzU3M30.7igqfyxPnBF38rZWdaBseW5Xmftkg3t96Q5O8cTbePA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvd251ZHdqZXVnYm5mdXh2emNoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg4NzU3MywiZXhwIjoyMDkwNDYzNTczfQ.X2A3voyZC1xHjufG2zDtH6cTuAwtnmZtDHUzcM8rows
